@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Course Manager</h1>
    <p>
        Manage my <a asp-controller="Course" asp-action="GetAllCourses">courses</a> or
        <a asp-controller="Course" asp-action="GetAddCourseForm">add a new course</a>
    </p>
</div>
